TELEMETRY_LOG_LEVEL=INFO
TELEMETRY_STALE_AFTER_SECONDS=120
TELEMETRY_STORAGE_BACKEND=influxdb
TELEMETRY_ALLOWED_ORIGINS=http://192.168.1.23:3000,http://brain:3000
INFLUXDB_URL=http://influxdb:8086
INFLUXDB_USERNAME=homelab-admin
INFLUXDB_ORG=homelab
INFLUXDB_BUCKET=telemetry
INFLUXDB_RETENTION=720h
GRAFANA_ADMIN_USER=admin
